.menuLateral {
  width: 200px;
  height: calc(100vh - 100px);
  background-color: #0D1723;
  display: flex;
  position: fixed;
  flex-direction: column;
  border-right: 1px solid #373E47;
  top: 100px;
  left: 0;
  z-index: 999;
  overflow-y: auto;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 1.5rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 20px;
  border-radius: 8px;
  color: #FFFFFF;
  text-decoration: none;
}

.item:hover {
  background-color: #373E47;
}

.active {
  background-color: #373E47;
}

.icon {
  width: 20px;
  height: 20px;
  stroke: currentColor;
}

