.cadastroPage {
  min-height: 100vh;
  background-color: #263445;
}

.conteudo {
  padding-top: 80px;
  padding-left: 220px;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo h2 {
  font-size: 35px;
  color: #E6EDF3;
  margin-bottom: 2px;
}

.conteudo p {
  font-size: 18px;
  color: #ADBAC7;
  margin-bottom: 5px;
}